<a [routerLink]="['/products', product().id]" class="block no-underline">
  <div
    class="border rounded-lg shadow p-4 bg-white hover:shadow-md transition"
  >
    <img
      [src]="product().image"
      alt=""
      class="h-40 w-full object-contain mb-3"
    />

    <h3 class="font-semibold text-lg truncate">
      {{ product().title }}
    </h3>

    <p class="text-sm text-gray-600 line-clamp-2">
      {{ product().description }}
    </p>

    <div class="mt-3 font-bold text-blue-600 text-xl">
      ${{ product().price }}
    </div>
  </div>
</a>